<ion-header>

  <ion-navbar>
    <ion-title>{{item.MedicationGenericName}} - {{item.MedicationMedicalName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngFor="let item of itemDetails" class="item-detail" padding>
    <ion-item>
      <ion-label>Script ID: {{item.ScriptId}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Frequency: {{item.MedicationTime}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Route: {{item.MedicationRoute}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Dosage: {{item.Dosage}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Prescribed By: {{item.PrescribedBy}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Phone: {{item.Phone}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email: {{item.Email}}</ion-label>
    </ion-item>

    <ion-item bottom>
      <ion-avatar item-start>
        <img style="background-color:#b216a6;" [src]="getSource()" />
      </ion-avatar>
      <p>Prescription received by pharmacist</p>
    </ion-item>
    <button *ngIf="item.DatePickedUp === null && item.DateFilled !== null" ion-button block style="background-color:#b216a6;" (click)="null">
      <p>I Have Picked Up My Prescription!</p>
    </button>
    <button *ngIf="item.DatePickedUp !== null" ion-button block style="background-color:#b216a6;" (click)="null">
      <p>I Have Taken My Prescription Today!</p>
    </button>
    <button *ngIf="item.DatePickedUp !== null" ion-button block style="background-color: white; border: #b216a6; color: #b216a6;" (click)="null">
      <p>I Have Stopped Taking This Prescription</p>
    </button>
  </div>



</ion-content>