<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>Push Notifications</ion-label>
        <ion-toggle formControlName="option1" (ionChange)="toggle()"></ion-toggle>
      </ion-item>

      <ion-item [class.disabled]="!options.option1">
        <ion-label>Notification Frequency</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="1" checked="true">Dosage Schedule</ion-option>
          <ion-option value="2">Daily</ion-option>
          <ion-option value="3">Twice Daily</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

</ion-content>
