<ion-header>

  <ion-navbar>
    <ion-title>Medications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar> -->
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img src='../../assets/img/rx-bottles.jpg' />
      </ion-avatar>
      <!-- <h2></h2> -->
      <p>{{item.GenericName}} - {{item.MedicalName}}</p>
      <!-- <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note> -->
    </button>
  </ion-list>
</ion-content>